@import '~bootstrap/scss/bootstrap.scss';

.navbar-light .navbar-nav{
    padding: 2rem 0rem;
}

.navbar-light .navbar-nav .nav-link {
   letter-spacing: 5px;
}

.navbar-light .navbar-nav .nav-link:not(:last-child) {
    margin-right: 20px;
 }