@import '~bootstrap/scss/bootstrap.scss';

body{
    font-family: Arial, Helvetica, sans-serif;
}
// Navbar
.navbar-light .navbar-nav{
    padding: 1.2rem 0rem;
}

.navbar-light .navbar-nav .nav-link {
   letter-spacing: 5px;
//    font-size: 14px;
}

.navbar-light .navbar-nav .nav-link:not(:last-child) {
    margin-right: 20px;
 }